admin:
  address:
    socket_address:
      address: 0.0.0.0
      port_value: 9901

static_resources:
  clusters:
  - name: admin
    connect_timeout: 1s
    type: STATIC
    load_assignment:
      cluster_name: admin
      endpoints:
      - lb_endpoints:
        - endpoint:
            address:
              pipe:
                path: /sockets/admin.socket

  - name: ext_fedora_auth
    connect_timeout: 2s
    type: STATIC
    load_assignment:
      cluster_name: ext_fedora_auth
      endpoints:
      - lb_endpoints:
        - endpoint:
            address:
              socket_address:
                address: 127.0.0.1
                port_value: 5556

  - name: cockpit
    connect_timeout: 2s
    type: STRICT_DNS
    load_assignment:
      cluster_name: cockpit
      endpoints:
      - lb_endpoints:
        - endpoint:
            address:
              socket_address:
                address: localhost
                port_value: 9090

  listeners:
  # admin listener
  - name: admin
    address:
      socket_address:
        address: 0.0.0.0
        port_value: 9000
    filter_chains:
    - filters:
      - name: envoy.filters.network.http_connection_manager
        typed_config:
          "@type": type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager
          stat_prefix: admin
          route_config:
            name: admin
            virtual_hosts:
            - name: admin
              domains:
              - "*"
              routes:
              - name: ready
                match:
                  path: /ready
                route:
                  cluster: admin
              - name: metrics
                match:
                  path: /metrics
                route:
                  cluster: admin
                  prefix_rewrite: /stats/prometheus
          http_filters:
          - name: envoy.filters.http.router
            typed_config:
              "@type": type.googleapis.com/envoy.extensions.filters.http.router.v3.Router

  # inbound API requests
  - name: ingress
    address:
      socket_address:
        address: 0.0.0.0
        port_value: 10000
    filter_chains:
      filters:
      - name: envoy.filters.network.http_connection_manager
        typed_config:
          "@type": type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager
          access_log:
          - name: envoy.access_loggers.file
            typed_config:
              "@type": type.googleapis.com/envoy.extensions.access_loggers.file.v3.FileAccessLog
              path: /dev/stdout
          stat_prefix: ingress
          route_config:
            name: ingress
            virtual_hosts:
            - name: api_hosts
              domains:
                  - "*"
              routes:
              - match:
                  prefix: /
                route:
                  cluster: cockpit

          http_filters:
          - name: envoy.filters.http.ext_authz
            typed_config:
              "@type": type.googleapis.com/envoy.extensions.filters.http.ext_authz.v3.ExtAuthz
              transport_api_version: V3
              http_service:
                server_uri:
                  uri: 127.0.0.1:5556
                  cluster: ext_fedora_auth
                  timeout: 2s
                authorization_response:
                  allowed_upstream_headers:
                    patterns:
                    - exact: x-fedora-identity

          # This is mandatory in order to have the HTTP routes above.
          - name: envoy.filters.http.router
            typed_config:
              "@type": type.googleapis.com/envoy.extensions.filters.http.router.v3.Router
